input:invalid {
    border: 1px solid red;
}

table {
    border-collapse: collapse;
    border-spacing: 0px;
    margin: 0 auto;
    width: 100%;
    table-layout: fixed;  

}

th, td {
    text-align: center;
    word-wrap: break-word;
    border: 2px solid rgb(100, 99, 99);
}

td {
    background-color: rgb(151, 224, 200);
}
